#wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

#table {
  height: 90vh;
  width: 90vw;
}

.header-cell {
  background-color: lightgray;
}

.wrap-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}